.section__inner {
  margin-bottom: 20px;
  margin-top: 100px;
  width: 980px;
}

.carousel__view {
  overflow: hidden;
}

.carousel-section {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}

.carousel-section--order-first,
.carousel-section--order-second {
  width: 980px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.carousel__button {
  position: relative;
  font-size: 1rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  bottom: 386px;
}

.carousel__button img {
  width: 45px;
}

.carousel__button :hover {
  opacity: 0.6;
}

.carousel__button--prev {
  left: -35px;
}

.carousel__button--next {
  left: 958px;
}
