.movie__wrapper {
  margin-bottom: 20px;
  width: 980px;
}

.carouselView {
  overflow: hidden;
}

.movieItems {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}

.firstIem,
.secondIem {
  width: 980px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movieButtons {
  position: relative;
  font-size: 1rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  bottom: 386px;
}

.prevButton {
  left: -35px;
}

.nextButton {
  left: 958px;
}

.prevButton img,
.nextButton img {
  width: 45px;
}

.prevButton :hover,
.nextButton :hover {
  opacity: 0.6;
}
