.section {
  background-color: #fafafa;
  padding-bottom: 120px;
}

.section__inner {
  width: 980px;
  margin-bottom: 100px;
}

.music-table__th {
  padding-top: 23px;
  padding-left: 35px;
  padding-bottom: 23px;
  font-weight: 600;
}

.music-table__th--title {
  width: 40%;
}

.music-table__th--singer {
  width: 20%;
}

.music-table__th--album {
  width: 35%;
}

.music-table__col--cover {
  width: 10%;
}

.music-table__col--rating {
  width: 7%;
}

.music-table__col--title {
  width: 35%;
}

.music-table tr:nth-child(2n) {
  background-color: #eaeaea;
}
