.footer {
  width: 100%;
  border-top: 1px solid;
  border-image: linear-gradient(
    to right,
    #f06844 0%,
    #ee4c54 25%,
    #d45e95 50%,
    #9c6ca6 75%,
    #6583c1 100%
  );
  border-image-slice: 1;
  height: 200px;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.footer__text {
  font-size: 72px;
  background: linear-gradient(
    to right,
    #f06844 0%,
    #ee4c54 25%,
    #d45e95 50%,
    #9c6ca6 75%,
    #6583c1 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 8px;
  font-size: 0.9rem;
}

.footer__text--decoration-underline {
  background: linear-gradient(to top, #9c6ca6 3%, transparent 0%);
}
