.section {
  background-color: #fafafa;
}

.section__inner {
  width: 980px;
  margin-top: 160px;
}

.keyword-container {
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.keyword-load__button {
  position: relative;
  display: block;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.keyword-load__button :hover {
  opacity: 0.6;
}

.keyword-load__button:active > img {
  transform: rotate(1turn);
}

.keyword-load__button > img {
  width: 40px;
  position: absolute;
  top: -16.7px;
  transition: transform 0.3s;
}
