.news__section {
  background-color: #fff;
  margin-top: 60px;
  padding-bottom: 60px;
}

.news_wrapper {
  width: 980px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__list li {
  box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 1.6rem;
  width: 130px;
  height: 120px;
  font-weight: 500;
}

.news__list .news__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 25px;
}

.news__update {
  color: gray;
  font-size: 1rem;
}

.news__list li:hover {
  box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 4%), -10px 0 20px 0 rgb(0 0 0 / 4%);
}
