.section__title {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.4rem;
}

.relative__keyword {
  display: inline-block;
}

.relative__keyword span {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  border-radius: 10px;
  margin-left: 1rem;
}

.keyword__element {
  background: #f3f3f5;
  padding: 0.5rem 0;
}

.keyword__element a {
  display: block;
  margin: 1rem 0.3rem;
}

.news_source {
  float: right;
  margin-right: 10px;
}

.keyword__traffic {
  float: right;
  margin-right: 1rem;
}

.searchWords__list li {
  width: 768px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}

.searchWords_date {
  display: block;
  margin: 0.5rem 0;
}

.main__keyword {
  font-weight: bold;
  font-size: 1.3rem;
}
.keyword__detail {
  border: 1px solid tomato;
}

@keyframes showDetail {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeDetail {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.openAccordion {
  animation: showDetail 0.5s ease-out forwards;
}

.closeArccordion {
  animation: closeDetail 0.5s ease-out forwards;
}

button {
  display: block;
  margin: 0 auto;
}

.keyword__element a :hover {
  font-weight: bold;
}
