.tv-table-container {
  width: 50%;
  max-width: 600px;
  margin-right: 20px;
}

.tv-table th {
  padding-top: 23px;
  padding-left: 35px;
  padding-bottom: 23px;
  font-weight: 600;
}

.tv-table__tbody td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tv-table__tbody tr:nth-child(2n) {
  background-color: #eaeaea;
}

.tv-table__td--ranking {
  padding-left: 35px;
  padding-right: 35px;
}

.tv-table__td--title {
  padding-left: 10px;
  padding-right: 10px;
}

.tv-table__td--cast {
  padding-left: 0;
  padding-right: 0;
}

.tv-table__td--rating {
  padding-left: 35px;
  padding-right: 35px;
}

.tv-table__tbody tr:hover {
  cursor: pointer;
  font-weight: bold;
}

.tv-table__col--ranking {
  width: 32%;
}

.tv-table__col--program {
  width: 55%;
}

.tv-table__col--channel {
  width: 30%;
}

.tv-table__th--program {
  width: 70%;
}

.tv-table__th--rating {
  width: 40%;
}
