.table_container {
  width: 50%;
  max-width: 600px;
  margin-right: 20px;
}

.tv_table th {
  padding-top: 23px;
  padding-left: 35px;
  padding-bottom: 23px;
  font-weight: 600;
}

.tv_table tbody td {
  padding: 20px 15px;
}

.tv_table tbody td:nth-child(1) {
  padding-left: 35px;
  padding-right: 35px;
}

.tv_table tbody td:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}

.tv_table tbody td:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

.tv_table tbody td:nth-child(4) {
  padding-left: 35px;
  padding-right: 35px;
}

.tv_table tbody tr:hover {
  cursor: pointer;
  font-weight: bold;
}

.rate_col {
  width: 32%;
}

.program_col {
  width: 55%;
}

.channel_col {
  width: 30%;
}

.program_tr {
  width: 70%;
}

.views_tr {
  width: 40%;
}
