.section {
  background-color: #fafafa;
}

.section__inner {
  margin-bottom: 100px;
  margin-top: 100px;
  width: 980px;
}

.youtube-list {
  display: flex;
  flex-wrap: wrap;
}

.youtube-list li {
  margin-bottom: 40px;
  width: 14rem;
  height: 14rem;
  white-space: normal;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  border-radius: 18px;
  margin-right: 20px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.youtube-list > li:nth-child(4n) {
  margin-right: 0;
}

.youtube-list > li:hover {
  box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
  transform: scale3d(1.01, 1.01, 1.01);
}

.youtube-list .item_link {
  display: block;
  position: relative;
}

.thumbnail {
  position: relative;
}

.youtube-list .item_link img,
.youtube-list .thumbnail img {
  width: 14rem;
}

.youtube-list .item_link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.ranking {
  position: absolute;
  padding-left: 5px;
  top: 0;
  bottom: 1px;
  width: 20px;
  text-align: center;
}

.ranking__text {
  display: block;
  font-size: 22px;
  line-height: 24px;
}

.youtube-info {
  margin-top: 10px;
  position: relative;
  height: 80px;
}

.main-info {
  display: -webkit-box;
  padding-right: 10px;
  margin-left: 35px;
  overflow: hidden;
  max-height: 40px;
  font-size: 15px;
  line-height: 18px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  color: #090909;
}

.tmain-info__title {
  display: block;
  max-height: 38px;
  white-space: nowrap;
  font-size: 1rem;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}

.main-info__host {
  margin-top: 5px;
  color: gray;
  display: block;
  font-size: 0.9rem;
}

.main-info__view {
  position: absolute;
  bottom: 10px;
  padding-left: 18px;
  font-size: 14px;
  line-height: 20px;
  right: 15px;
}
